{% extends 'base.html.twig' %}

{% block body %}
    <div id="authForm">
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.plainPassword) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.firstName) }}
        {{ form_row(registrationForm.agreeTerms) }}

        {{ form_row(registrationForm.submit) }}
    {{ form_end(registrationForm) }}
    </div>
{% endblock %}
