

{% block menu %}
    <ul>
        <li><a href="{{ path('app_homepage') }}">Strona główna</a></li>
        <li><a href="{{ path('app_homepage') }}">Strona główna</a></li>
        <li><a href="{{ path('app_homepage') }}">Strona główna</a></li>
        <li><a href="{{ path('app_homepage') }}">Strona główna</a></li>
        <li><a href="{{ path('app_homepage') }}">Strona główna</a></li>
        <li><a href="{{ path('app_homepage') }}">Strona główna</a></li>
    </ul>
{% endblock %}
